{% extends "layout.html" %}
{% block title %}Home - Lake Eden{% endblock title %}


{% block body %}

    <img id="homePgImg" src="static/images/eden_lake.jpg" />
    <img id="kylesWatermark" src="static/images/kyles_watermark.png" style="position: relative; bottom: 85px; right: 10px; float: right; height: 100px; width: 100px;" />

    <div style="padding-top: 60px; padding-bottom: 60px; padding-left: 10%; padding-right: 10%; font-size: 20px; text-align: center; font-weight: 500;">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>

    <div style="overflow-x: hidden;">
        <div class="row" style="justify-content: center;">
            {% for article in paginator %}
                <div class="col-sm-3 mx-4">
                    <div class="card" style="width: 18rem; margin: 50px;">
                        {% if article.image %}
                            <img src="{{ article.image }}" class="card-img-top px-3 pt-3" style="height: 250px; width: 250px;">
                        {% endif %}
                        <div class="card-body" style="height: 377px;">
                            <h3 class="card-title">{{ article.title }}</h3>
                            <h6 class="card-title">{{ article.serialize.timestamp }}</h6>
                            <br>
                            <p class="card-text" style="font-size: 17px; display: -webkit-box; -webkit-line-clamp: 10; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;">{{ article.content|safe }}</p>
                        </div>
                        <a href="{% url 'article' article_id=article.title %}" class="btn btn-info mx-1 mb-1">Read</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div style="justify-content: center; text-align: center;">
        <a href="{% url 'news_and_events' %}" class="btn btn-outline-warning px-5 mt-4">All News</a>
    </div>

{% endblock %}