{% extends "layout.html" %}
{% block title %}News & Events - Lake Eden{% endblock title %}

<style>

    body {
      overflow-x: hidden;
    }

</style>

{% block body %}

    <div style="overflow-x: hidden;">
        <div class="row">
            {% for article in paginator %}
                <div class="col-sm-3">
                    <div class="card" style="width: 18rem; margin: 50px;">
                        {% if article.image %}
                            <img src="{{ article.image }}" class="card-img-top px-3 pt-3" style="height: 250px; width: 250px;">
                        {% endif %}
                        <div class="card-body" style="height: 377px;">
                            <h3 class="card-title">{{ article.title }}</h3>
                            <h6 class="card-title">{{ article.serialize.timestamp }}</h6>
                            <br>
                            <p class="card-text" style="font-size: 17px; display: -webkit-box; -webkit-line-clamp: 10; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;">{{ article.content|safe }}</p>
                        </div>
                        <a href="{% url 'article' article_id=article.title %}" class="btn btn-dark mx-1 mb-1">Read</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if paginator.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ paginator.previous_page_number }}">Previous Page</a></li>
            {% endif %}
            {% if paginator.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ paginator.next_page_number }}">Next Page</a></li>
              {% endif %}
        </ul>
    </nav>

{% endblock %}