{% extends "layout.html" %}
{% block title %}Contact Us - Lake Eden{% endblock title %}

{% block body %}

    <div style="margin-left: 15%; margin-top: 40px;">
        <h1><b>Contact Us</b></h1><br>
        <p style="font-size: 18px; padding-bottom: 3%;">Lake Eden Association<br>PO Box 213<br>Eden , VT 05652</p>
        <div style="display: block; padding-left: 5%;">
            <h3>Artie Curcillo (President)<br><span style="font-weight: normal;">802-635-9716</span></h3><br><br>
            <h3>Charlie Distefano<br><span style="font-weight: normal;">thedistefanos@optonline.net</span></h3><br><br>
            <h3>Colleen Brennan (Secretary)<br><span style="font-weight: normal;">cbrennanvt@gmail.com<br>770-356-1274</span></h3><br><br>
            <h3>Amber Wison (Treasurer)<br><span style="font-weight: normal;">aawilson@vermontel.net</span></h3><br><br>
        </div>
    </div>

{% endblock %}