{% extends "layout.html" %}
{% block title %}Mission & Bylaws - Lake Eden{% endblock title %}

{% block body %}

    <div style="padding-left: 15%; padding-right: 15%; padding-top: 40px;">
        <h1><b>Mission & Bylaws</b></h1><br>
        <h2 style="color: #5A5A5A;"><b>Mission of the Lake Eden Association</b></h2><br>
        <p>**MISSION STATEMENT BODY** - FINISH</p><br><br>
        <h2 style="color: #5A5A5A;"><b>Bylaws</b></h2>
        <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red;"></i>
        <a href="#">Bylaws of the Lake Eden Association **NEEDS LINK**</a>
        <br><br>
    </div>

{% endblock %}