{% extends "template.html" %}

{% block title %}
    Josh R - Contact Info
{% endblock %}

{% block main %}

    <div style="margin-top: 5em;">
        <h1 style="text-align: center;">Contact Info</h1>
    </div>

    <h3 class="center_margin_bottom" style="font-weight: 300; padding-left: 15px; padding-right: 15px;">
        Find below the best ways to reach me
    </h3>

    <h4 class="center_margin_bottom">
        Phone:<div style="font-weight: normal;">802-730-7706</div>
    </h4>

    <h4 class="center_margin_bottom">
        Email:<div style="font-weight: normal;">joshrushford22@gmail.com</div>
    </h4>

    <h4 class="center_margin_bottom">
        Facebook Messenger:<div style="font-weight: normal;">Follow the link to
        <a onclick="window.open('https://www.facebook.com/josh.rushford.7')" class="link">my profile</a>
        and message me</div>
    </h4>

{% endblock %}
