{% extends "template.html" %}

{% block title %}
    Josh Rushford
{% endblock %}

{% block main %}

    <img alt="Joshua D. Rushford" class="img_placement" src="/static/Profile_Pic.jpg"/>
    <h1 style="text-align: center;">
        Joshua D Rushford
    </h1>

    <div id="home_p">
        <p>
            Welcome to my website! Here I display my qualifications as a programmer, along with my most notable projects and achievements.<br><br>

            By far my most notable project is the official website of the <a class="link" onclick="window.open('https://www.lakeeden.org/')">Lake Eden Association</a>, to which I built the entire stack for.<br><br>

            This is a full-stack website built by yours truly. The tools involved in building this site include Python, HTML, CSS, Bootstrap, Flask, and Jinja.<br><br>

            I've written well over 10,000 lines of code in multiple different languages. While I specialize in <b>back-end Django</b> web development,
            I'm quite proficient in many other languages and tools as well.<br><br>

            Here is an expansion of my toolbelt:
        </p>
        <br>

        <div style="display: inline-block;">
            <h3>Languages:</h3>
            <br>
            <ul>
                <li>Python</li>
                <li>C</li>
                <li>C++</li>
                <li>Java</li>
                <li>JavaScript</li>
                <li>SQLite</li>
                <li>MySQL</li>
                <li>Oracle</li>
                <li>HTML</li>
                <li>CSS</li>
            </ul>
            <br>
            <hr>
            <br>

            <h3>Frameworks:</h3>
            <br>
            <ul>
                <li>Django</li>
                <li>Flask</li>
                <li>Sass</li>
                <li>React</li>
                <li>Bootstrap</li>
            </ul>
            <br>
            <hr>
            <br>

            <h3>Tools:</h3>
            <br>
            <ul>
                <li>Linux</li>
                <li>Git Version Control</li>
                <li>GitHub</li>
                <li>Docker</li>
                <li>Selenium</li>
                <li>XML</li>
                <li>YAML</li>
                <li>Markdown</li>
                <li>JSON</li>
                <li>APIs</li>
                <li>Heroku</li>
            </ul>
            <br>
            <hr>
            <br>

            <h3>IDEs:</h3>
            <br>
            <ul>
                <li>Atom</li>
                <li>PyCharm</li>
                <li>VScode</li>
                <li>Eclipse</li>
            </ul>
        </div>
        <br>
        <br>

        <p>
            On top of this list, I'm also familiar with <b>Scrum-Agile</b> practices and very experienced with working in a team setting.<br><br>

            Use the navigation bar above to view my credentials, projects, and contact information. To view the code of this site,
            use Developer tools in your browser settings or right click on this page and select "View page source", or you can go to my Github
            (link in the Projects tab) and view this website's code under the directory "my_website".
        </p>
    </div>

{% endblock %}