{% extends "template.html" %}

{% block title %}
    Josh R - Projects
{% endblock %}

{% block main %}

    <div class="cert_explaination">
        <h1 style="text-align: center;">Projects</h1>
    </div>
    <div style="padding-left: 15px; padding-right: 15px;">
        <h3 class="center_margin_bottom" style="font-weight: 300;">To view my projects, visit my
            <a onclick="window.open('https://github.com/me50/joshrushford802/branches/all')" class="link">Github account</a>
            or click a specific file below
        </h3>
    </div>

    <div style="padding-left: 15px; padding-right: 15px;">
        <h3 class="center_margin_bottom" style="font-weight: 300;">Also, check out my
            <a onclick="window.open('https://www.youtube.com/@joshrushford3077')" class="link">YouTube channel</a>
            for video tours of my best projects
        </h3>
    </div>

    <div style="padding-left: 15px; padding-right: 15px;">
        <h3 class="center_margin_bottom" style="font-weight: 300;">I developed the entire codebase for the
            <a onclick="window.open('https://www.lakeeden.org/')" class="link">Lake Eden website</a>
            using Django
        </h3>
    </div>

    <div id="project_div">

        <!--Python-->
        <div class="btn-group">
            <button style="background-color: #0F9D58;" class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Python
            </button>
            <ul class="dropdown-menu">
                <li><a href="https://github.com/code50/109701246/tree/main/PYTHON/blackjack_%5Bfinal_project%5D" class="link">Blackjack</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/labs/2022/x/worldcup/tournament.py" class="link">Tournament</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/sentimental/hello/hello.py" class="link">Hello</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/sentimental/mario/less/mario.py" class="link">Mario Half Pyramid</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/sentimental/cash/cash.py" class="link">Cash</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/sentimental/readability/readability.py" class="link">Readability</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/labs/2022/x/birthdays/app.py" class="link">Birthdays</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/dna/dna.py" class="link">DNA</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/finance/app.py" class="link">Finance</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/deep/deep.py" class="link">Deep</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/bank/bank.py" class="link">Bank</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/indoor/indoor.py" class="link">Indoor</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/playback/playback.py" class="link">Playback</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/faces/faces.py" class="link">Faces</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/einstein/einstein.py" class="link">Einstein</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/tip/tip.py" class="link">Tip</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/extensions/extensions.py" class="link">Extensions</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/interpreter/interpreter.py" class="link">Interpreter</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/meal/meal.py" class="link">Meal</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/camel/camel.py" class="link">Camel</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/coke/coke.py" class="link">Coke</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/twttr/twttr.py" class="link">Twttr</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/plates/plates.py" class="link">Plates</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/nutrition/nutrition.py" class="link">Nutrition</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/fuel/fuel.py" class="link">Fuel</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/taqueria/taqueria.py" class="link">Taqueria</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/grocery/grocery.py" class="link">Grocery</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/outdated/outdated.py" class="link">Outdated</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/tests/twttr/test_twttr.py" class="link">Test_Twttr</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/tests/bank/test_bank.py" class="link">Test_Bank</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/tests/plates/test_plates.py" class="link">Test_Plates</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/tests/fuel/test_fuel.py" class="link">Test_Fuel</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/working/test_working.py" class="link">Test_Working</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/um/test_um.py" class="link">Test_Um</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/jar/test_jar.py" class="link">Test_Jar</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/emojize/emojize.py" class="link">Emojize</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/figlet/figlet.py" class="link">Figlet</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/adieu/adieu.py" class="link">Adieu</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/game/game.py" class="link">Game</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/professor/professor.py" class="link">Professor</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/bitcoin/bitcoin.py" class="link">Bitcoin</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/lines/lines.py" class="link">Lines</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/pizza/pizza.py" class="link">Pizza</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/scourgify/scourgify.py" class="link">Scourgify</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/shirt/shirt.py" class="link">Shirt</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/numb3rs/numb3rs.py" class="link">Numb3rs</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/watch/watch.py" class="link">Watch</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/working/working.py" class="link">Working</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/um/um.py" class="link">Um</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/response/response.py" class="link">Response</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/seasons/seasons.py" class="link">Seasons</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/jar/jar.py" class="link">Jar</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/python/shirtificate/shirtificate.py" class="link">Shirtificate</a></li>
            </ul>
        </div>

        <!--SQL-->
        <div class="btn-group">
            <button style="background-color: #0F9D58;" class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                SQLite3
            </button>
            <ul class="dropdown-menu">
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/labs/2022/x/songs/1.sql" class="link">Songs 1</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/labs/2022/x/songs/2.sql" class="link">Songs 2</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/labs/2022/x/songs/3.sql" class="link">songs 3</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/labs/2022/x/songs/4.sql" class="link">songs 4</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/labs/2022/x/songs/5.sql" class="link">songs 5</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/labs/2022/x/songs/6.sql" class="link">songs 6</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/labs/2022/x/songs/7.sql" class="link">songs 7</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/labs/2022/x/songs/8.sql" class="link">songs 8</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/movies/1.sql" class="link">Movies 1</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/movies/2.sql" class="link">Movies 2</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/movies/3.sql" class="link">Movies 3</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/movies/4.sql" class="link">Movies 4</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/movies/5.sql" class="link">Movies 5</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/movies/6.sql" class="link">Movies 6</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/movies/7.sql" class="link">Movies 7</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/movies/8.sql" class="link">Movies 8</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/movies/9.sql" class="link">Movies 9</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/movies/10.sql" class="link">Movies 10</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/movies/11.sql" class="link">Movies 11</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/movies/12.sql" class="link">Movies 12</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/movies/13.sql" class="link">Movies 13</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/fiftyville/log.sql" class="link">Fiftyville (Crime Mystery)</a></li>
            </ul>
        </div>

        <!--C-->
        <div class="btn-group">
            <button style="background-color: #0F9D58;" class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                C
            </button>
            <ul class="dropdown-menu">
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/mario/more/mario.c" class="link">Mario Full Pyramid</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/mario/less/mario.c" class="link">Mario Half Pyramid</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/labs/2022/x/scrabble/scrabble.c" class="link">Scrabble</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/cash/cash.c" class="link">Cash</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/caesar/caesar.c" class="link">Caesar</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/readability/readability.c" class="link">Readability</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/plurality/plurality.c" class="link">Plurality</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/runoff/runoff.c" class="link">Runoff</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/labs/2022/x/volume/volume.c" class="link">Volume</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/filter/less/helpers.c" class="link">Filter</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/recover/recover.c" class="link">Recover</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/labs/2022/x/inheritance/inheritance.c" class="link">Inheritance</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/speller/dictionary.c" class="link">Dictionary</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/hello/hello.c" class="link">Hello</a></li>
            </ul>
        </div>

        <!--HTML, CSS, & JavaScript-->
        <div class="btn-group">
            <button style="background-color: #0F9D58;" class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                HTML, CSS, & JavaScript
            </button>
            <ul class="dropdown-menu">
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/labs/2022/x/trivia/index.html" class="link">Trivia (html\ JavaScript)</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/labs/2022/x/trivia/styles.css" class="link">Trivia (css)</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/labs/2022/x/birthdays/templates/index.html" class="link">Birthdays (html\ Jinja)</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/labs/2022/x/birthdays/static/styles.css" class="link">Birthdays (css)</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/finance/templates/layout.html" class="link">Finance/Layout (html\ Jinja)</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/finance/templates/index.html" class="link">Finance/Index (html\ Jinja)</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/finance/templates/buy.html" class="link">Finance/Buy (html\ Jinja)</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/finance/templates/sell.html" class="link">Finance/Sell (html\ Jinja)</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/finance/templates/register.html" class="link">Finance/Register (html\ Jinja)</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/finance/templates/login.html" class="link">Finance/Login (html\ Jinja)</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/finance/templates/quote.html" class="link">Finance/Quote (html\ Jinja)</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/finance/templates/returned_quote.html" class="link">Finance/Returned_Quote (html\ Jinja)</a></li>
                <li><a href="https://github.com/me50/joshrushford802/blob/cs50/problems/2022/x/finance/static/styles.css" class="link">Finance (css)</a></li>
            </ul>
        </div>

        <!--Web-->
        <div class="btn-group">
            <button style="background-color: #0F9D58;" class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Web
            </button>
            <ul class="dropdown-menu">
                <li><a href="https://github.com/code50/109701246/tree/main/network" class="link">Network</a></li>
                <li><a href="https://github.com/code50/109701246/tree/main/mail" class="link">Mail</a></li>
                <li><a href="https://github.com/code50/109701246/tree/main/commerce" class="link">Commerce</a></li>
                <li><a href="https://github.com/code50/109701246/tree/main/wiki" class="link">Wiki</a></li>
                <li><a href="https://github.com/code50/109701246/tree/main/search" class="link">Search</a></li>
            </ul>
        </div>
    </div>

{% endblock %}