{% extends "layout.html" %}
{% block title %}Meeting Minutes - Lake Eden{% endblock title %}

{% block body %}

    <div style="padding-left: 15%; padding-right: 15%; padding-top: 40px;">
        <h1><b>Board Meeting Minutes</b></h1><br><br>
        <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red;"></i>
        <a href="#">Bylaws of the Lake Eden Association **NEEDS LINK**</a>
        <br><br><br>
        <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red;"></i>
        <a href="#">Bylaws of the Lake Eden Association **NEEDS LINK**</a>
        <br><br><br>
        <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red;"></i>
        <a href="#">Bylaws of the Lake Eden Association **NEEDS LINK**</a>
        <br><br><br>
        <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red;"></i>
        <a href="#">Bylaws of the Lake Eden Association **NEEDS LINK**</a>
        <br><br><br>
        <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red;"></i>
        <a href="#">Bylaws of the Lake Eden Association **NEEDS LINK**</a>
        <br><br><br>
        <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red;"></i>
        <a href="#">Bylaws of the Lake Eden Association **NEEDS LINK**</a>
        <br><br><br>
        <i class="fa fa-file-pdf-o" style="font-size: 24px; color: red;"></i>
        <a href="#">Bylaws of the Lake Eden Association **NEEDS LINK**</a>
        <br><br>
    </div>

{% endblock %}