{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
      <title>{% block title %}Home - Lake Eden{% endblock %}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="apple-touch-icon" sizes="180x180" href="static/images/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon-16x16.png">
      <link rel="manifest" href="static/images/site.webmanifest">
      <link href="{% static 'styles.css' %}" rel="stylesheet">
      <link href='https://css.gg/menu.css' rel='stylesheet'>
      <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
      <script src="jquery-3.6.1.min.js"></script>
      <script src="{% static 'control.js' %}"></script>
      {% block head %}{% endblock %}
      <style>

        header {
          overflow-x: hidden;
        }

        body {
          overflow-x: hidden;
        }

        footer {
          overflow-x: hidden;
          margin-top: 80px;
        }

        #footerDiv {
          position: relative;
          bottom: 260px;
          left: 420px;
        }

        #kylesWatermark {
          position: relative;
          bottom: 80px;
          right: 10px;
          float: right;
          height: 100px;
          width: 100px;
        }

        .collapsible {
          display: none;
        }

        #navMobile {
          display: none;
        }
        @media (max-width: 960px) {
          #testUl    { display: none; }
          .collapsible { display: inline-block; }
          #navMobile {
            background-color: #6495ED;
            display: block;

          }

          #testUl {
            background-color: #4682B4;
          }

          #headerDivLeft {
            width: 100%;
            display: inline-block;
            vertical-align: middle;
           position: relative;
          }

          #headerDivRight {
            width: 100%;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            right: 300px;
          }

          #headerDivLeftChildDiv {
            float: left;
            position: relative;
            top: 13px;
            left: 10px;
          }

          #divFloatLeft {
            display: inline-block;
          }

          #footerDiv {
            text-align: center;
            width: 100%;
            position: relative;
            bottom: 275px;
            left: 0px;
            padding-right: 0px;
          }

          #kylesWatermark {
            position: relative;
            bottom: 15px;
            right: 10px;
            float: right;
            height: 100px;
            width: 100px;
          }

          #footDiv2 {
            position: relative;
            bottom: 260px;
          }

          #footDiv {
            position: relative;
            bottom: 260px;
          }
        }

        /* Style the button that is used to open and close the collapsible content */
        .collapsible {
          background-color: #6495ED;
          color: black;
          cursor: pointer;
          padding: 18px;
          width: 35%;
          border: none;
          text-align: left;
          outline: none;
          font-size: 15px;
        }

        /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
        .active {
          background-color: #295D8A;
        }

        /* Style the collapsible content. Note: hidden by default */
        .content {
          padding: 0 18px;
          display: none;
          overflow: hidden;
          background-color: #f1f1f1;
        }

        .responsive-menu-icon::before {
          content: "\f333";
          font: normal 20px/1 'dashicons';
          margin: 0 auto;
          text-align: center;
        }

        .responsive-menu-icon::after {
          content: "Menu";
          font-style: normal;
          text-transform: uppercase;
          font-size: 1.3em;
          padding-left: 10px;
          position: relative;
          top:-13px;
        }

        @media (min-width: 960px) {
          #footDiv {
            position: relative;
            bottom: 30px;
            left: -220px;
          }

          #footDiv2 {
            position: relative;
            left: -260px;
          }

          footer {
            text-align: center;
          }
        }

        footer > div > a {
          display: block;
          text-decoration: none;
          padding: 10px;
        }

        footer > div > p {
          display: block;
          padding: 10px;
        }

        footer > div {
          display: inline-block;
          padding: 100px;
          padding-top: 25px;
          padding-bottom: 10px;
          padding-left: 10px;
        }

        #logo {
          height: 100px;
          width: 100px;
        }

        header {
          text-align: center;
          padding: 20px;
        }

        #headerDivLeft {
          display: inline-block;
          margin-right: 300px;
          vertical-align: middle;
        }

        #headerDivRight {
          display: inline-block;
          margin-left: 300px;
          vertical-align: middle;
        }

        #divFloatLeft {
          float: left;
        }

        header > div > div {
          display: inline-block;
          padding: 20px;
        }

        header > div > div > a > i:hover {
          color: black;
          cursor: pointer;
        }
      </style>
    </head>
    <body>

      {% if messages %}
          {% for message in messages %}
          <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Success</h4>
            <p>The form was submitted successfully!</p>
            <hr>
            <p class="mb-0">We have recieved your submission in our database.</p>
        </div>
          {% endfor %}
      {% endif %}

      <header>
        <div id="headerDivLeft">
          <div id="divFloatLeft">
            <a href="{% url 'index' %}"><img title="Home Page" id="logo" src="static/images/LEA Logo-2 copy.JPG" /></a>
          </div>
          <div id="headerDivLeftChildDiv">
            <h1>
              Lake Eden<br>Association
            </h1>
          </div>
        </div>
        <div id="headerDivRight">
          <div>
            <a href="{% url 'join_email_list' %}" style="color: grey;"><i class="fa fa-envelope" style="font-size: 40px;" aria-hidden="true"></i></a>
          </div>
          <div>
            <a onclick="window.open('https://www.facebook.com/groups/173329406135985/')" style="color: grey;"><i class="fa fa-facebook-f" style="font-size: 40px;"></i></a>
          </div>
          <div>
            <a href="{% url 'donate' %}"><button type="button" class="btn btn-success" style="position: relative; bottom: 10px;">Donate</button></a>
          </div>
        </div>
      </header>

      <nav id="navDesktop" class="navbar navbar-expand-lg py-0" style="background-color: #6495ED">
        <div id="testUl" class="container-fluid">
          <div class="d-flex collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a id="navBut1" class="nav-link fs-5 fw-semibold px-3 py-2" style="color: white;" href="{% url 'news_and_events' %}">
                  News & Events
                </a>
              </li>
              <li class="nav-item dropdown">
                <a id="navBut2" class="nav-link dropdown-toggle fs-5 fw-semibold px-3 py-2" style="color: white;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Invasive Species
                </a>
                <ul class="dropdown-menu fs-5 border border-0 rounded-0 mt-0">
                  <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'what_is_an_invasive' %}">What Is An Invasive?</a></li>
                  <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'about_milfoil' %}">About Milfoil</a></li>
                  <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'milfoil_control_efforts' %}">Milfoil Control Efforts</a></li>
                  <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'other_invasive_species' %}">Other Invasive Species</a></li>
                  <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'greeter_and_vip_programs' %}">Greeter & VIP Programs</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a id="navBut3" class="nav-link dropdown-toggle drdwnhvr fs-5 fw-semibold px-3 py-2" style="color: white;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Lake Health
                </a>
                <ul class="dropdown-menu fs-5 fw-semibold border border-0 rounded-0 mt-0">
                  <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'health_overview' %}">Health Overview</a></li>
                  <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'sampling_and_monitoring_programs' %}">Sampling & Monitoring Programs</a></li>
                  <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'shoreline_health' %}">Shoreline Health</a></li>
                  <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'lake_data_and_maps' %}">Lake Data & Maps</a></li>
                  <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'plant_surveys' %}">Plant Surveys</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a id="navBut4" class="nav-link dropdown-toggle drdwnhvr fs-5 fw-semibold px-3 py-2" style="color: white;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Enjoying The Lake
                </a>
                <ul class="dropdown-menu fs-5 fw-semibold border border-0 rounded-0 mt-0">
                  <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'overview' %}">Overview</a></li>
                  <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'boating_on_lake_eden' %}">Boating On Lake Eden</a></li>
                  <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'public_fishing_and_boat_access' %}">Public Fishing & Boat Access</a></li>
                  <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'greeter_program' %}">Greeter Program</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a id="navBut5" class="nav-link dropdown-toggle drdwnhvr fs-5 fw-semibold px-3 py-2" style="color: white;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  How To Help
                </a>
                <ul class="dropdown-menu fs-5 fw-semibold border border-0 rounded-0 mt-0">
                  <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'why_become_a_member' %}">Why Become a Member</a></li>
                  <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'donate' %}">Join, Renew, or Donate</a></li>
                  <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'volunteer_opportunities' %}">Volunteer Opportunities</a></li>
                  <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'join_email_list' %}">Join Email List</a></li>
                  <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'report_invasives' %}">Report Invasives</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a id="navBut6" class="nav-link dropdown-toggle drdwnhvr fs-5 fw-semibold px-3 py-2" style="color: white;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  About
                </a>
                <ul class="dropdown-menu fs-5 fw-semibold border border-0 rounded-0 mt-0">
                  <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'who_we_are' %}">Who We Are</a></li>
                  <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'contact_us' %}">Contact Us</a></li>
                  <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'history_of_the_lake' %}">History Of The Lake</a></li>
                  <li" ><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'mission_and_bylaws' %}">Mission & Bylaws</a></li>
                  <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'meeting_minutes' %}">Meeting Minutes</a></li>
                  <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'plans_and_annual_reports' %}">Plans & Annual Reports</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

          <nav id="navMobile" class="navbar navbar-expand-lg py-0" style="background-color: #6495ED;">
            <button type="button" class="collapsible fs-2 fw-semibold"><div style="display: inline-block; text-align: center;"><div style="display: inline-block; position: absolute; top: 35px;"><i class="gg-menu"></i></div><div style="display: inline-block; position: absolute; top: 19px; left: 45px;"><p style="font-size: 25px;">Menu</p></div></div></button>
              <div id="testUl" class="container-fluid content">
                <div class="d-flex collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0" style="padding-right: 1000px;">
                  <li class="nav-item dropdown">
                    <a id="navBut1" class="nav-link fs-5 fw-semibold px-3 py-2" style="color: white;" href="{% url 'news_and_events' %}">
                      News & Events
                    </a>
                  </li>
                  <li class="nav-item dropdown">
                    <a id="navBut2" class="nav-link dropdown-toggle fs-5 fw-semibold px-3 py-2" style="color: white;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Invasive Species
                    </a>
                    <ul class="dropdown-menu fs-5 border border-0 rounded-0 mt-0">
                      <li ><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'what_is_an_invasive' %}">What Is An Invasive?</a></li>
                      <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'about_milfoil' %}">About Milfoil</a></li>
                      <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'milfoil_control_efforts' %}">Milfoil Control Efforts</a></li>
                      <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'other_invasive_species' %}">Other Invasive Species</a></li>
                      <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'greeter_and_vip_programs' %}">Greeter & VIP Programs</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a id="navBut3" class="nav-link dropdown-toggle drdwnhvr fs-5 fw-semibold px-3 py-2" style="color: white;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Lake Health
                    </a>
                    <ul class="dropdown-menu fs-5 fw-semibold border border-0 rounded-0 mt-0">
                      <li" ><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'health_overview' %}">Health Overview</a></li>
                      <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'sampling_and_monitoring_programs' %}">Sampling & Monitoring Programs</a></li>
                      <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'shoreline_health' %}">Shoreline Health</a></li>
                      <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'lake_data_and_maps' %}">Lake Data & Maps</a></li>
                      <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'plant_surveys' %}">Plant Surveys</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a id="navBut4" class="nav-link dropdown-toggle drdwnhvr fs-5 fw-semibold px-3 py-2" style="color: white;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Enjoying The Lake
                    </a>
                    <ul class="dropdown-menu fs-5 fw-semibold border border-0 rounded-0 mt-0">
                      <li" ><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'overview' %}">Overview</a></li>
                      <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'boating_on_lake_eden' %}">Boating On Lake Eden</a></li>
                      <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'public_fishing_and_boat_access' %}">Public Fishing & Boat Access</a></li>
                      <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'greeter_program' %}">Greeter Program</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a id="navBut5" class="nav-link dropdown-toggle drdwnhvr fs-5 fw-semibold px-3 py-2" style="color: white;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      How To Help
                    </a>
                    <ul class="dropdown-menu fs-5 fw-semibold border border-0 rounded-0 mt-0">
                      <li" ><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'why_become_a_member' %}">Why Become a Member</a></li>
                      <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'donate' %}">Join, Renew, or Donate</a></li>
                      <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'volunteer_opportunities' %}">Volunteer Opportunities</a></li>
                      <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'join_email_list' %}">Join Email List</a></li>
                      <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'report_invasives' %}">Report Invasives</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a id="navBut6" class="nav-link dropdown-toggle drdwnhvr fs-5 fw-semibold px-3 py-2" style="color: white;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      About
                    </a>
                    <ul class="dropdown-menu fs-5 fw-semibold border border-0 rounded-0 mt-0">
                      <li" ><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'who_we_are' %}">Who We Are</a></li>
                      <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'contact_us' %}">Contact Us</a></li>
                      <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'history_of_the_lake' %}">History Of The Lake</a></li>
                      <li" ><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'mission_and_bylaws' %}">Mission & Bylaws</a></li>
                      <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'meeting_minutes' %}">Meeting Minutes</a></li>
                      <li><a class="dropdown-item naAHov fw-semibold py-2" style="color: #6495ED" href="{% url 'plans_and_annual_reports' %}">Plans & Annual Reports</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              </div>
      </nav>

      {% block body %}
      {% endblock %}

      <footer>
        <img src="static/images/footer_img.jpg">
        <img id="kylesWatermark" src="static/images/kyles_watermark.png" />
        <div id="footerDiv">
          <a href="{% url 'report_invasives' %}" type="button" class="btn btn-light mx-1 my-1">Report an Invasive</a>
          <a href="{% url 'join_email_list' %}" type="button" class="btn btn-light mx-1 my-1">Join Email List</a>
          <a href="{% url 'volunteer_opportunities' %}" type="button" class="btn btn-light mx-1 my-1">Volunteer</a>
          <a href="{% url 'donate' %}" type="button" class="btn btn-light mx-1 my-1">Become a Member</a>
          <h1 style="color: white; margin-top: 15px;"><b>PROTECT OUR LAKE</b></h1>
        </div>

        <div id="footDiv2">
          <a href="{% url 'index' %}">Home</a>
          <a href="{% url 'contact_us' %}">Contact Us</a>
          <a href="{% url 'donate' %}">Join, Renew, or Donate</a>
          <a href="{% url 'lake_data_and_maps' %}">Site Maps</a>
          <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
        </div>
        <div id="footDiv">
          <p>
            Lake Eden Association<br>PO Box 213<br>Eden , VT 05652
          </p>
          <p>
            &#169; 2022 Lake Eden Association
          </p>
        </div>
      </footer>
    </body>

      <!-- FIX-ME: CLICK & HOVER FUNCTIONALITY NEEDS FIXING -->
      <script>

        // Nav button onclick/ offclick background-color change functionality
        document.addEventListener('DOMContentLoaded', function() {

          var coll = document.getElementsByClassName("collapsible");
          var i;

          for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
              this.classList.toggle("active");
              var content = this.nextElementSibling;
              if (content.style.display === "block") {
                content.style.display = "none";
              } else {
                content.style.display = "block";
              }
            });
          }

          var el1 = document.getElementById('navBut1');

          document.addEventListener('click', function(event) {
            var clickOff = el1.contains(event.target);

            if (!clickOff) {
              document.getElementById("navBut1").style.backgroundColor = "#6495ED";
            } else if (clickOff){
              document.getElementById("navBut1").style.backgroundColor = "#295D8A";
            }
          });
          document.addEventListener('mouseover', function(event) {
            var ff = el1.contains(event.target);


            if (ff && document.getElementById("navBut1").style.backgroundColor === "#295D8A") {
              document.getElementById("navBut1").style.backgroundColor = "#295D8A";
            } else if (ff && !(document.getElementById("navBut1").style.backgroundColor === "#295D8A")) {
              document.getElementById("navBut1").style.backgroundColor = "#4682B4";
            } else if (!ff && !(document.getElementById("navBut1").style.backgroundColor === "#295D8A")) {
              document.getElementById("navBut1").style.backgroundColor = "#6495ED";
            } else if (!ff && (document.getElementById("navBut1").style.backgroundColor === "#295D8A")) {
              document.getElementById("navBut1").style.backgroundColor = "#295D8A";
            }

          });

          var el2 = document.getElementById('navBut2');

          document.addEventListener('click', function(event) {
            var clickOff = el2.contains(event.target);

            if (!clickOff) {
              document.getElementById("navBut2").style.backgroundColor = "#6495ED";
            } else if (clickOff) {
              document.getElementById("navBut2").style.backgroundColor = "#295D8A";
            }
          });
          document.addEventListener('mouseover', function(event) {
            var ff = el2.contains(event.target);


            if (ff && document.getElementById("navBut2").style.backgroundColor === "#295D8A") {
              document.getElementById("navBut2").style.backgroundColor = "#295D8A";
            } else if (ff && !(document.getElementById("navBut2").style.backgroundColor === "#295D8A")) {
              document.getElementById("navBut2").style.backgroundColor = "#4682B4";
            } else if (!ff && !(document.getElementById("navBut2").style.backgroundColor === "#295D8A")) {
              document.getElementById("navBut2").style.backgroundColor = "#6495ED";
            } else if (!ff && (document.getElementById("navBut2").style.backgroundColor === "#295D8A")) {
              document.getElementById("navBut2").style.backgroundColor = "#295D8A";
            }

          });

          var el3 = document.getElementById('navBut3');

          document.addEventListener('click', function(event) {
            var clickOff = el3.contains(event.target);

            if (!clickOff) {
              document.getElementById("navBut3").style.backgroundColor = "#6495ED";
            } else if (clickOff) {
              document.getElementById("navBut3").style.backgroundColor = "#295D8A";
            }
          });
          document.addEventListener('mouseover', function(event) {
            var ff = el3.contains(event.target);


            if (ff && document.getElementById("navBut3").style.backgroundColor === "#295D8A") {
              document.getElementById("navBut3").style.backgroundColor = "#295D8A";
            } else if (ff && !(document.getElementById("navBut3").style.backgroundColor === "#295D8A")) {
              document.getElementById("navBut3").style.backgroundColor = "#4682B4";
            } else if (!ff && !(document.getElementById("navBut3").style.backgroundColor === "#295D8A")) {
              document.getElementById("navBut3").style.backgroundColor = "#6495ED";
            } else if (!ff && (document.getElementById("navBut3").style.backgroundColor === "#295D8A")) {
              document.getElementById("navBut3").style.backgroundColor = "#295D8A";
            }

          });

          var el4 = document.getElementById('navBut4');

          document.addEventListener('click', function(event) {
            var clickOff = el4.contains(event.target);

            if (!clickOff) {
              document.getElementById("navBut4").style.backgroundColor = "#6495ED";
            } else if (clickOff) {
              document.getElementById("navBut4").style.backgroundColor = "#295D8A";
            }
          });
          document.addEventListener('mouseover', function(event) {
            var ff = el4.contains(event.target);


            if (ff && document.getElementById("navBut4").style.backgroundColor === "#295D8A") {
              document.getElementById("navBut4").style.backgroundColor = "#295D8A";
            } else if (ff && !(document.getElementById("navBut4").style.backgroundColor === "#295D8A")) {
              document.getElementById("navBut4").style.backgroundColor = "#4682B4";
            } else if (!ff && !(document.getElementById("navBut4").style.backgroundColor === "#295D8A")) {
              document.getElementById("navBut4").style.backgroundColor = "#6495ED";
            } else if (!ff && (document.getElementById("navBut4").style.backgroundColor === "#295D8A")) {
              document.getElementById("navBut4").style.backgroundColor = "#295D8A";
            }

          });

          var el5 = document.getElementById('navBut5');

          document.addEventListener('click', function(event) {
            var clickOff = el5.contains(event.target);

            if (!clickOff) {
              document.getElementById("navBut5").style.backgroundColor = "#6495ED";
            } else if (clickOff) {
              document.getElementById("navBut5").style.backgroundColor = "#295D8A";
            }
          });
          document.addEventListener('mouseover', function(event) {
            var ff = el5.contains(event.target);


            if (ff && document.getElementById("navBut5").style.backgroundColor === "#295D8A") {
              document.getElementById("navBut5").style.backgroundColor = "#295D8A";
            } else if (ff && !(document.getElementById("navBut5").style.backgroundColor === "#295D8A")) {
              document.getElementById("navBut5").style.backgroundColor = "#4682B4";
            } else if (!ff && !(document.getElementById("navBut5").style.backgroundColor === "#295D8A")) {
              document.getElementById("navBut5").style.backgroundColor = "#6495ED";
            } else if (!ff && (document.getElementById("navBut5").style.backgroundColor === "#295D8A")) {
              document.getElementById("navBut5").style.backgroundColor = "#295D8A";
            }

          });

          var el6 = document.getElementById('navBut6');

          document.addEventListener('click', function(event) {
            var clickOff = el6.contains(event.target);

            if (!clickOff) {
              document.getElementById("navBut6").style.backgroundColor = "#6495ED";
            } else if (clickOff) {
              document.getElementById("navBut6").style.backgroundColor = "#295D8A";
            }
          });
          document.addEventListener('mouseover', function(event) {
            var ff = el6.contains(event.target);


            if (ff && document.getElementById("navBut6").style.backgroundColor === "#295D8A") {
              document.getElementById("navBut6").style.backgroundColor = "#295D8A";
            } else if (ff && !(document.getElementById("navBut6").style.backgroundColor === "#295D8A")) {
              document.getElementById("navBut6").style.backgroundColor = "#4682B4";
            } else if (!ff && !(document.getElementById("navBut6").style.backgroundColor === "#295D8A")) {
              document.getElementById("navBut6").style.backgroundColor = "#6495ED";
            } else if (!ff && (document.getElementById("navBut6").style.backgroundColor === "#295D8A")) {
              document.getElementById("navBut6").style.backgroundColor = "#295D8A";
            }

          });
        });

                // Create the dropdown base
        $("<select />").appendTo("nav");

        // Create default option "Go to..."
        $("<option />", {
          "selected": "selected",
          "value"   : "",
          "text"    : "Go to..."
        }).appendTo("nav select");

        // Populate dropdown with menu items
        $("nav a").each(function() {
        var el = $(this);
        $("<option />", {
            "value"   : el.attr("href"),
            "text"    : el.text()
        }).appendTo("nav select");
        });

        $("nav select").change(function() {
          window.location = $(this).find("option:selected").val();
        });

      </script>
</html>
